In [2]:
import pandas as pd 
import numpy as np

In [3]:
# import csv file 
my_df = pd.read_csv('dog_data.csv')
my_df

                    Breed              Color        DogName  OwnerZip
0                COCKAPOO              BROWN        CHARLEY     15236
1            GER SHEPHERD        BLACK/BROWN         TACODA     15238
2           BELG MALINOIS            BRINDLE           EICH     15238
3                   MIXED        BLACK/BROWN          ARROW     15104
4     AM PIT BULL TERRIER        WHITE/BROWN         OAKLEY     15139
...                   ...                ...            ...       ...
2665         GOLDENDOODLE              BROWN        WINSLOW     15044
2666    YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667              LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668         GOLDENDOODLE              WHITE       CLARENCE     15143
2669    SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

[2670 rows x 4 columns]

In [4]:
# Count distinct values - Descending 
my_df['Color'].value_counts()

Color
BLACK                   371
BROWN                   309
WHITE                   226
WHITE/BLACK             196
BLACK/BROWN             183
                       ...
BLACK/ORANGE/BRINDLE      1
BROWN/ORANGE              1
BROWN/FAWN                1
BLACK/BROWN/GREY          1
BROWN/LIVER               1
Name: count, Length: 72, dtype: int64

In [8]:
# Count distinct values - Ascending 
my_df['Color'].value_counts(ascending=True)

Color
BROWN/LIVER               1
BROWN/FAWN                1
BROWN/ORANGE              1
BLACK/ORANGE/BRINDLE      1
BLACK/BROWN/GREY          1
                       ...
BLACK/BROWN             183
WHITE/BLACK             196
WHITE                   226
BROWN                   309
BLACK                   371
Name: count, Length: 72, dtype: int64

In [10]:
# Dog Names - without NaN -> we have a Dog name without any value which is referred as NaN here, to see this you have to shorten the list of data
my_df['DogName'].value_counts()

DogName
LUCY       35
BELLA      30
BAILEY     29
BUDDY      29
DAISY      26
           ..
CHOOKIE     1
AMY         1
DEE DEE     1
KAYLIE      1
GRIFFIN     1
Name: count, Length: 1428, dtype: int64

In [12]:
# Dog Names - with NaN
my_df['DogName'].value_counts(dropna=False)

DogName
LUCY       35
BELLA      30
BAILEY     29
BUDDY      29
DAISY      26
           ..
RAMBO       1
CHOOKIE     1
AMY         1
DEE DEE     1
GRIFFIN     1
Name: count, Length: 1429, dtype: int64

In [13]:
# Get relative frequency - Percentage

In [18]:
# Get Specific Item Count

In [19]:
# Count Unique Values - Size

In [20]:
# Count Unique Values - Count

In [21]:
# Get a count of columns across all columns