In [1]:
import pandas as pd
import numpy as np

In [2]:
# import csv file
my_df = pd.read_csv('Dog_data_short.csv')
my_df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [4]:
# Grab Row Method 1 location
my_df.loc[1]

Breed       GER SHEPHERD
Color        BLACK/BROWN
DogName           TACODA
OwnerZip           15238
Name: 1, dtype: object

In [5]:
# Grab Row Method 2 Index location
my_df.iloc[2]

Breed       BELG MALINOIS
Color             BRINDLE
DogName              EICH
OwnerZip            15238
Name: 2, dtype: object

In [6]:
# Specific Points (row and column)
# my_df.loc['Row', 'Column']
my_df.loc[3, "DogName"]

'ARROW'

In [8]:
# Subsets 
# my_df.loc[['row', 'row'], ['column', column]]
my_df.loc[[0, 1, 4], ["DogName", "Breed"]]

   DogName                Breed
0  CHARLEY             COCKAPOO
1   TACODA         GER SHEPHERD
4   OAKLEY  AM PIT BULL TERRIER