In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [4]:
my_data = randn(4, 3) # (rows, columns)
my_rows = ["A", "B", "C", "D"]
my_columns = ["Monday", "Tuesday", "Friday"]

In [5]:
# Create DataFrame
my_df = pd.DataFrame(my_data, my_rows, my_columns)
my_df

     Monday   Tuesday    Friday
A  0.360242 -0.577972  0.305120
B  0.554756 -0.625485 -0.289713
C  0.863891  0.785732  1.832899
D  1.043024 -1.029259  0.115859

In [23]:
# import csv file 
my_df2 = pd.read_csv('MOCK_DATA.csv')
my_df2

  breed_name  average_height  average_weight  life_span origin_country
0    Fairfax            7.60          129.92         12         Russia
1     Carson           12.29          147.47          6          China
2   Matthieu           24.80           31.33          7         France
3       Bili           15.15          184.85         16         Greece
4      Myron           15.10          198.58         20         Russia
5       Troy           20.27           81.86          8         Russia
6       Boyd           28.19           21.32          7         Russia
7     Eimile           14.33           18.12         12           Peru
8      Briny            8.18          196.32          6          China
9      Kiley           29.59           95.02         12         Russia

In [24]:
# Pull out rows 
my_df2.loc[5]

breed_name          Troy
average_height     20.27
average_weight     81.86
life_span              8
origin_country    Russia
Name: 5, dtype: object

In [27]:
# Pull out multiple rows 
my_df2.loc[[2, 5, 8]]

  breed_name  average_height  average_weight  life_span origin_country
2   Matthieu           24.80           31.33          7         France
5       Troy           20.27           81.86          8         Russia
8      Briny            8.18          196.32          6          China