In [18]:
import pandas as pd
import numpy as np

In [19]:
# Create Data 
stuff = {
    'Corporation':['Apple', 'Google', 'Meta', 'Apple', 'Google', 'Meta'],
    'Employee':['John', 'Abrar', 'Wes',  'Beth', 'Justin', 'Steph'],
    'Salary':[200, 220, 190, 130, 120, 150]
}
# Create DataFrame
my_df = pd.DataFrame(stuff)
my_df

  Corporation Employee  Salary
0       Apple     John     200
1      Google    Abrar     220
2        Meta      Wes     190
3       Apple     Beth     130
4      Google   Justin     120
5        Meta    Steph     150

In [83]:
# Group by Corporation - To get object location in memory 
company = my_df.groupby('Corporation')
company

In [84]:
# sum
company.sum('Corporation')

             Salary
Corporation
Apple           330
Google          340
Meta            340

In [85]:
# mean
company.mean('Corporation')

             Salary
Corporation
Apple         165.0
Google        170.0
Meta          170.0

In [86]:
# Max Min
company.min('Corporation')

             Salary
Corporation
Apple           130
Google          120
Meta            150

In [95]:
# Standard Deviation
company.std()

ValueError: could not convert string to float: 'John'

In [92]:
# variance
company.var()

TypeError: could not convert string to float: 'John'

In [89]:
# count
company.count()

             Employee  Salary
Corporation
Apple               2       2
Google              2       2
Meta                2       2

In [90]:
# describe
company.describe()

            Salary
             count   mean        std    min    25%    50%    75%    max
Corporation
Apple          2.0  165.0  49.497475  130.0  147.5  165.0  182.5  200.0
Google         2.0  170.0  70.710678  120.0  145.0  170.0  195.0  220.0
Meta           2.0  170.0  28.284271  150.0  160.0  170.0  180.0  190.0